/* LVHA */
a:link {color: #6699FF; text-decoration: none}
a:visited {color: #6699CC }
a:hover {color:#7A3DB8}
header a:hover{color: #6699CC}

nav{
	background-color: #000000;
}

div.event_left_col{
	margin-top: 20px;
	margin-bottom: 50px;
}

div.photo_200{
	padding-left: 50px;
}

div.event_right_col{
	margin-top: 40px;
}