/* LVHA */
a:link {color: #6699FF; text-decoration: none}
a:visited {color: #6699CC }
a:hover {color:#7A3DB8}
header a:hover{color: #6699CC}

nav{
	background-color: #000000;
}
 /**--- event page **/
div.event_left_col{
	margin-top: 20px;
	margin-bottom: 50px;
}

div.photo_200{
	padding-left: 50px;
}

div.event_right_col{
	margin-top: 40px;
}

/**-- solar page **/
div.solar_left_col h1{
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: right;
	padding-right: 5px;
}

div.solar_right_col{
	margin-top: 40px;
}

/**-- hire us page **/
div.hire_left_col {
	margin-top: 20px;
	margin-bottom:10px;
}

div.photo_100{
	padding-left: 25px;
}

div.hire_middle_col{
	margin-top: 40px;
}

div.hire_right_col{
	margin-top: 40px;
}